#upmain{
    align-items: center;
}
#col1{
    margin-top: 10px;
    margin-left: 10px;
    height: 120px;
    width: 42%;
    border: 1px solid black;
    padding: 10px;
}
#des{
    float: right;
}
#main{
    display: flex;
}
.button1{
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    background-color:  #008CBA;
}
.bground{
    background-color: rgb(240, 235, 226);
}
#time{
    text-align: center;
}