<!-- <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>gender</th>
            <th>Name</th>
            <th>email</th>
            <th>password</th>
            <th>Department</th>
            <th>Date</th>
            <th>currency</th>
            <th>Experience</th>
            <th>Country</th> 
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{ employee.id }}</td>
            <td>{{ employee.gender }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.password }}</td>
            <td>{{ employee.department  }}</td>
            <td>{{ employee.date}}</td>
            <td>{{ employee.currency}}</td>
            <td>{{ employee.date }}</td>
            <td>{{ employee.country}}</td>
        </tr>
    </tbody>
</table> -->
