.body {
    margin-top: 50px;
    font-family: bold;
    margin: 10;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
   
    justify-content: space-between 10px;
    
  }
  #id{
    margin-left: 50px;
  }
  #gmail{
    margin-left: 35px;
    
  }
  #name{
    margin-left: 37px;
  }
  #password{
    margin-left: 30px;
  }
  #number{
    margin-left: 32.7px;
  }
  #button1{
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color:  #008CBA;
  }